@import '/src/styles/global-variables.scss';

body {
  font-family: $Poppins-font;
  background-color: $body-bg-color;
  color: #212529;
  margin: 0;
}
a {
  text-decoration: none;
}
.m-90 {
  margin: 90px !important;
}
.mt-90 {
  margin-top: 90px !important;
}

/* optional: constrain container width for demo */
.container {
  max-width: 960px;
}

/* add additional overrides here */
